---
http_interactions:
- request:
    method: get
    uri: https://api.clashofclans.com/v1/capitalleagues
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"id":85000000,"name":"Unranked"},{"id":85000001,"name":"Bronze
        League III"},{"id":85000002,"name":"Bronze League II"},{"id":85000003,"name":"Bronze
        League I"},{"id":85000004,"name":"Silver League III"},{"id":85000005,"name":"Silver
        League II"},{"id":85000006,"name":"Silver League I"},{"id":85000007,"name":"Gold
        League III"},{"id":85000008,"name":"Gold League II"},{"id":85000009,"name":"Gold
        League I"},{"id":85000010,"name":"Crystal League III"},{"id":85000011,"name":"Crystal
        League II"},{"id":85000012,"name":"Crystal League I"},{"id":85000013,"name":"Master
        League III"},{"id":85000014,"name":"Master League II"},{"id":85000015,"name":"Master
        League I"},{"id":85000016,"name":"Champion League III"},{"id":85000017,"name":"Champion
        League II"},{"id":85000018,"name":"Champion League I"},{"id":85000019,"name":"Titan
        League III"},{"id":85000020,"name":"Titan League II"},{"id":85000021,"name":"Titan
        League I"},{"id":85000022,"name":"Legend League"}],"paging":{"cursors":{}}}'
  recorded_at: Sat, 16 Sep 2023 22:04:06 GMT
recorded_with: VCR 6.2.0
