---
http_interactions:
- request:
    method: get
    uri: https://api.clashofclans.com/v1/capitalleagues/aninvalidvalue
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"reason":"badRequest","message":"Invalid format for parameter leagueId,
        number expected"}'
  recorded_at: Sat, 23 Dec 2023 22:06:48 GMT
- request:
    method: get
    uri: https://api.clashofclans.com/v1/capitalleagues/85000022
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":85000022,"name":"Legend League"}'
  recorded_at: Sat, 23 Dec 2023 22:06:48 GMT
recorded_with: VCR 6.2.0
