---
http_interactions:
- request:
    method: get
    uri: https://api.clashofclans.com/v1/clans/aninvalidvalue/warlog
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"reason":"notFound","message":"Not found with tag aninvalidvalue"}'
  recorded_at: Sun, 06 Apr 2025 01:07:57 GMT
- request:
    method: get
    uri: https://api.clashofclans.com/v1/clans/%232YYQPVGQQ/warlog
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"result":"win","endTime":"20230923T181418.000Z","teamSize":5,"attacksPerMember":2,"battleModifier":"none","clan":{"tag":"#2YYQPVGQQ","name":"ClashOfClansApi","badgeUrls":{"small":"https://api-assets.clashofclans.com/badges/70/T_D6WK-jnwhaeZ9wfEdwNt_WqLKE15Q0JePMxWCAO1k.png","large":"https://api-assets.clashofclans.com/badges/512/T_D6WK-jnwhaeZ9wfEdwNt_WqLKE15Q0JePMxWCAO1k.png","medium":"https://api-assets.clashofclans.com/badges/200/T_D6WK-jnwhaeZ9wfEdwNt_WqLKE15Q0JePMxWCAO1k.png"},"clanLevel":2,"attacks":10,"stars":10,"destructionPercentage":84.8,"expEarned":146},"opponent":{"tag":"#YQJL28Q0","name":"iran
        ariya","badgeUrls":{"small":"https://api-assets.clashofclans.com/badges/70/W7lcxSAKmiBWj4hbzNdXRQokhdELiMc5GfSn5_n0JnY.png","large":"https://api-assets.clashofclans.com/badges/512/W7lcxSAKmiBWj4hbzNdXRQokhdELiMc5GfSn5_n0JnY.png","medium":"https://api-assets.clashofclans.com/badges/200/W7lcxSAKmiBWj4hbzNdXRQokhdELiMc5GfSn5_n0JnY.png"},"clanLevel":23,"stars":10,"destructionPercentage":83.8}},{"result":"tie","endTime":"20221127T001314.000Z","teamSize":5,"atta[...]
