---
http_interactions:
- request:
    method: get
    uri: https://api.clashofclans.com/v1/clanwarleagues/wars/aninvalidvalue
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"reason":"notFound"}'
  recorded_at: Sun, 06 Apr 2025 14:10:57 GMT
- request:
    method: get
    uri: https://api.clashofclans.com/v1/clanwarleagues/wars/%238YCQ2JGQ9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"state":"inWar","teamSize":15,"preparationStartTime":"20250404T203423.000Z","startTime":"20250405T203421.000Z","endTime":"20250406T203421.000Z","clan":{"tag":"#290J9LYR8","name":"Popigai","badgeUrls":{"small":"https://api-assets.clashofclans.com/badges/70/3mqUizT-GGSaO9mCuDvdzp1Ppr5rKun9a_aQx7nGFZs.png","large":"https://api-assets.clashofclans.com/badges/512/3mqUizT-GGSaO9mCuDvdzp1Ppr5rKun9a_aQx7nGFZs.png","medium":"https://api-assets.clashofclans.com/badges/200/3mqUizT-GGSaO9mCuDvdzp1Ppr5rKun9a_aQx7nGFZs.png"},"clanLevel":26,"attacks":8,"stars":18,"destructionPercentage":47.6,"members":[{"tag":"#20YP9RUQJ","name":"Fasthallo","townhallLevel":17,"mapPosition":2,"opponentAttacks":1,"bestOpponentAttack":{"attackerTag":"#2C008YLPP","defenderTag":"#20YP9RUQJ","stars":3,"destructionPercentage":100,"order":3,"duration":84}},{"tag":"#G0L0L0R9","name":"Obelix","townhallLevel":17,"mapPosition":7,"attacks":[{"attackerTag":"#G0L0L0R9","defenderTag":"#QVQJVG9Y","stars":3,"destructionPercentage":100,"order":4,"duration":165}],"opponentAttacks":0},{"tag":"#PLPVQU0J","name":"scapel","townhallLevel":17,"mapPosition":14,"opponentAttacks":1,"bestOpponentAttack":{"attackerTag":"#PGVPC0GR","defenderTag":"#PLPVQU0J","stars":3,"destructionPercentage":100,"order":7,"duration":141}},{"tag":"#QGPURGVP","name":"Mika","townhallLev[...]
