---
http_interactions:
- request:
    method: get
    uri: https://api.clashofclans.com/v1/clans/aninvalidvalue/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"reason":"notFound","message":"Not found with tag aninvalidvalue"}'
  recorded_at: Sat, 16 Sep 2023 22:03:50 GMT
- request:
    method: get
    uri: https://api.clashofclans.com/v1/clans/%232YYQPVGQQ/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"tag":"#GYQL8V2C","name":"Cube","role":"admin","expLevel":141,"league":{"id":29000000,"name":"Unranked","iconUrls":{"small":"https://api-assets.clashofclans.com/leagues/72/e--YMyIexEQQhE4imLoJcwhYn6Uy8KqlgyY3_kFV6t4.png","tiny":"https://api-assets.clashofclans.com/leagues/36/e--YMyIexEQQhE4imLoJcwhYn6Uy8KqlgyY3_kFV6t4.png"}},"trophies":2192,"builderBaseTrophies":2351,"versusTrophies":2351,"clanRank":1,"previousClanRank":1,"donations":0,"donationsReceived":0,"builderBaseLeague":{"id":44000021,"name":"Brass
        League II"}},{"tag":"#G8L0YRCJY","name":"expeehaa mini 2","role":"leader","expLevel":55,"league":{"id":29000003,"name":"Bronze
        League I","iconUrls":{"small":"https://api-assets.clashofclans.com/leagues/72/SZIXZHZxfHTmgseKCH6T5hvMQ3JQM-Js2QfpC9A3ya0.png","tiny":"https://api-assets.clashofclans.com/leagues/36/SZIXZHZxfHTmgseKCH6T5hvMQ3JQM-Js2QfpC9A3ya0.png","medium":"https://api-assets.clashofclans.com/leagues/288/SZIXZHZxfHTmgseKCH6T5hvMQ3JQM-Js2QfpC9A3ya0.png"}},"trophies":730,"builderBaseTrophies":50,"versusTrophies":50,"clanRank":2,"previousClanRank":2,"donations":0,"donationsReceived":0,"playerHouse":{"elements":[{"type":"ground","id":82000000},{"type":"walls","id":82000048},{"type":"roof","id":82000009},{"type":"decoration","id":82000058}]},"builderBaseLeague":{"id":44000000,"name":"Wood
        League V"}}],"paging":{"cursors":{}}}'
  recorded_at: Sat, 16 Sep 2023 22:03:50 GMT
recorded_with: VCR 6.2.0
