---
http_interactions:
- request:
    method: get
    uri: https://api.clashofclans.com/v1/clans/aninvalidvalue/currentwar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"reason":"notFound","message":"Not found with tag aninvalidvalue"}'
  recorded_at: Sat, 16 Sep 2023 22:03:48 GMT
- request:
    method: get
    uri: https://api.clashofclans.com/v1/clans/%232YYQPVGQQ/currentwar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"state":"notInWar","clan":{"badgeUrls":{"small":"https://api-assets.clashofclans.com/badges/70/H39b_-WLZGtZVWQ0hqTkE-Tn2AaQnQWy_Iz4yBlvL0M.png","large":"https://api-assets.clashofclans.com/badges/512/H39b_-WLZGtZVWQ0hqTkE-Tn2AaQnQWy_Iz4yBlvL0M.png","medium":"https://api-assets.clashofclans.com/badges/200/H39b_-WLZGtZVWQ0hqTkE-Tn2AaQnQWy_Iz4yBlvL0M.png"},"clanLevel":0,"attacks":0,"stars":0,"destructionPercentage":0.0},"opponent":{"badgeUrls":{"small":"https://api-assets.clashofclans.com/badges/70/H39b_-WLZGtZVWQ0hqTkE-Tn2AaQnQWy_Iz4yBlvL0M.png","large":"https://api-assets.clashofclans.com/badges/512/H39b_-WLZGtZVWQ0hqTkE-Tn2AaQnQWy_Iz4yBlvL0M.png","medium":"https://api-assets.clashofclans.com/badges/200/H39b_-WLZGtZVWQ0hqTkE-Tn2AaQnQWy_Iz4yBlvL0M.png"},"clanLevel":0,"attacks":0,"stars":0,"destructionPercentage":0.0}}'
  recorded_at: Sat, 16 Sep 2023 22:03:49 GMT
recorded_with: VCR 6.2.0
