---
http_interactions:
- request:
    method: get
    uri: https://api.clashofclans.com/v1/clans/aninvalidvalue/capitalraidseasons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"reason":"notFound","message":"Not found with tag aninvalidvalue"}'
  recorded_at: Sun, 06 Apr 2025 01:08:00 GMT
- request:
    method: get
    uri: https://api.clashofclans.com/v1/clans/%232YYQPVGQQ/capitalraidseasons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"state":"ended","startTime":"20250314T070000.000Z","endTime":"20250317T070000.000Z","capitalTotalLoot":0,"raidsCompleted":1,"totalAttacks":0,"enemyDistrictsDestroyed":0,"offensiveReward":0,"defensiveReward":0,"attackLog":[],"defenseLog":[{"attacker":{"tag":"#22VUURULY","name":"DG
        SQUAD","level":4,"badgeUrls":{"small":"https://api-assets.clashofclans.com/badges/70/PhVGDsODgOSnU8OY_iZZl4LjeCHqTFmayfXi1HOrHWI.png","large":"https://api-assets.clashofclans.com/badges/512/PhVGDsODgOSnU8OY_iZZl4LjeCHqTFmayfXi1HOrHWI.png","medium":"https://api-assets.clashofclans.com/badges/200/PhVGDsODgOSnU8OY_iZZl4LjeCHqTFmayfXi1HOrHWI.png"}},"attackCount":6,"districtCount":2,"districtsDestroyed":2,"districts":[{"id":70000000,"name":"Capital
        Peak","districtHallLevel":2,"destructionPercent":100,"stars":3,"attackCount":3,"totalLooted":3479},{"id":70000001,"name":"Barbarian
        Camp","districtHallLevel":1,"destructionPercent":100,"stars":3,"attackCount":3,"totalLooted":2845}]}]},{"state":"ended","startTime":"20250214T070000.000Z","endTime":"20250217T070000.000Z","capitalTotalLoot":0,"raidsCompleted":0,"totalAttacks":0,"enemyDistrictsDestroyed":0,"offensiveReward":0,"defensiveReward":0,"attackLog":[],"defenseLog":[{"attacker":{"tag":"#2JPLYQUQ9","name":"PUCUNG
        PRIDE","level":3,"badgeUrls":{"small":"https://api-asset[...]
