---
http_interactions:
- request:
    method: get
    uri: https://api.clashofclans.com/v1/clans/aninvalidvalue
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"reason":"notFound","message":"Not found with tag aninvalidvalue"}'
  recorded_at: Sat, 16 Sep 2023 22:03:49 GMT
- request:
    method: get
    uri: https://api.clashofclans.com/v1/clans/%232YYQPVGQQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"tag":"#2YYQPVGQQ","name":"ClashOfClansApi","type":"inviteOnly","description":"API
        test clan","location":{"id":32000006,"name":"International","isCountry":false},"isFamilyFriendly":false,"badgeUrls":{"small":"https://api-assets.clashofclans.com/badges/70/T_D6WK-jnwhaeZ9wfEdwNt_WqLKE15Q0JePMxWCAO1k.png","large":"https://api-assets.clashofclans.com/badges/512/T_D6WK-jnwhaeZ9wfEdwNt_WqLKE15Q0JePMxWCAO1k.png","medium":"https://api-assets.clashofclans.com/badges/200/T_D6WK-jnwhaeZ9wfEdwNt_WqLKE15Q0JePMxWCAO1k.png"},"clanLevel":2,"clanPoints":1461,"clanBuilderBasePoints":1200,"clanVersusPoints":1200,"clanCapitalPoints":0,"capitalLeague":{"id":85000000,"name":"Unranked"},"requiredTrophies":0,"warFrequency":"unknown","warWinStreak":0,"warWins":4,"warTies":1,"warLosses":2,"isWarLogPublic":true,"warLeague":{"id":48000000,"name":"Unranked"},"members":2,"memberList":[{"tag":"#GYQL8V2C","name":"Cube","role":"admin","expLevel":141,"league":{"id":29000000,"name":"Unranked","iconUrls":{"small":"https://api-assets.clashofclans.com/leagues/72/e--YMyIexEQQhE4imLoJcwhYn6Uy8KqlgyY3_kFV6t4.png","tiny":"https://api-assets.clashofclans.com/leagues/36/e--YMyIexEQQhE4imLoJcwhYn6Uy8KqlgyY3_kFV6t4.png"}},"trophies":2192,"builderBaseTrophies":2351,"versusTrophies":2351,"clanRank":1,"previousClanRank":1,"donations":0,"donationsReceived":0,"builderBaseLeague":{"id":44000021,"name":"Brass
        League II"}},{"tag":"#G8L0YRCJY","name":"expeehaa mini 2","role":"leader","expLevel":55,"league":{"id":29000003,"name":"Bronze
        League I","iconUrls":{"small":"https://api-assets.clashofclans.com/leagues/72/SZIXZHZxfHTmgseKCH6T5hvMQ3JQM-Js2QfpC9A3ya0.png","tiny":"https://api-assets.clashofclans.com/leagues/36/SZIXZHZxfHTmgseKCH6T5hvMQ3JQM-Js2QfpC9A3ya0.png","medium":"https://api-assets.clashofclans.com/leagues/288/SZIXZHZxfHTmgseKCH6T5hvMQ3JQM-Js2QfpC9A3ya0.png"}},"trophies":730,"builderBaseTrophies":50,"versusTrophies":50,"clanRank":2,"previousClanRank":2,"donations":0,"donationsReceived":0,"playerHouse":{"elements":[{"type":"ground","id":82000000},{"type":"walls","id":82000048},{"type":"roof","id":82000009},{"type":"decoration","id":82000058}]},"builderBaseLeague":{"id":44000000,"name":"Wood
        League V"}}],"labels":[{"id":56000007,"name":"International","iconUrls":{"small":"https://api-assets.clashofclans.com/labels/64/zyaTKuJXrsPiU3DvjgdqaSA6B1qvcQ0cjD6ktRah4xs.png","medium":"https://api-assets.clashofclans.com/labels/128/zyaTKuJXrsPiU3DvjgdqaSA6B1qvcQ0cjD6ktRah4xs.png"}},{"id":56000008,"name":"Farming","iconUrls":{"small":"https://api-assets.clashofclans.com/labels/64/iLWz6AiaIHg_DqfG6s9vAxUJKb-RsPbSYl_S0ii9GAM.png","medium":"https://api-assets.clashofclans.com/labels/128/iLWz6AiaIHg_DqfG6s9vAxUJKb-RsPbSYl_S0ii9GAM.png"}},{"id":56000012,"name":"Underdog","iconUrls":{"small":"https://api-assets.clashofclans.com/labels/64/ImSgCg88EEl80mwzFZMIiJTqa33bJmJPcl4v2eT6O04.png","medium":"https://api-assets.clashofclans.com/labels/128/ImSgCg88EEl80mwzFZMIiJTqa33bJmJPcl4v2eT6O04.png"}}],"requiredBuilderBaseTrophies":0,"requiredVersusTrophies":0,"requiredTownhallLevel":8,"clanCapital":{"capitalHallLevel":2,"districts":[{"id":70000000,"name":"Capital
        Peak","districtHallLevel":2},{"id":70000001,"name":"Barbarian Camp","districtHallLevel":1}]},"chatLanguage":{"id":75000000,"name":"English","languageCode":"EN"}}'
  recorded_at: Sat, 16 Sep 2023 22:03:50 GMT
recorded_with: VCR 6.2.0
