---
http_interactions:
- request:
    method: get
    uri: https://api.clashofclans.com/v1/clans/aninvalidvalue/currentwar/leaguegroup
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"reason":"notFound","message":"Not found with tag aninvalidvalue"}'
  recorded_at: Sun, 06 Apr 2025 14:10:56 GMT
- request:
    method: get
    uri: https://api.clashofclans.com/v1/clans/%232LLRJ29YJ/currentwar/leaguegroup
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"state":"inWar","season":"2025-04","clans":[{"tag":"#PPGL9RJJ","name":"GoldWings","clanLevel":29,"badgeUrls":{"small":"https://api-assets.clashofclans.com/badges/70/lysg_-KY8EYMJJZv3BpkvZUEdifLmneLo4Owc2K8rbs.png","large":"https://api-assets.clashofclans.com/badges/512/lysg_-KY8EYMJJZv3BpkvZUEdifLmneLo4Owc2K8rbs.png","medium":"https://api-assets.clashofclans.com/badges/200/lysg_-KY8EYMJJZv3BpkvZUEdifLmneLo4Owc2K8rbs.png"},"members":[{"tag":"#LG0Y2LYJ2","name":"Jeffrey‘s
        2.Acc","townHallLevel":15},{"tag":"#9YP98LVUV","name":"Alec","townHallLevel":17},{"tag":"#89RQYR0RP","name":"GW_Jeffrey","townHallLevel":17},{"tag":"#9URQYVUJ","name":"Niko
        7","townHallLevel":15},{"tag":"#28PLQRCRR","name":"klani","townHallLevel":17},{"tag":"#GYU8C02C9","name":"Klani4","townHallLevel":10},{"tag":"#QJYR9UU00","name":"GW_HäckiDONATE","townHallLevel":16},{"tag":"#80PP0RQ9","name":"SlinTex","townHallLevel":17},{"tag":"#2UQVLG8C","name":"El1*69","townHallLevel":17},{"tag":"#8VP02CC9J","name":"⚡️THu[...]
