---
http_interactions:
- request:
    method: get
    uri: https://api.clashofclans.com/v1/clans?name=ClashOfClansApi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"tag":"#2YYQPVGQQ","name":"ClashOfClansApi","type":"inviteOnly","location":{"id":32000006,"name":"International","isCountry":false},"isFamilyFriendly":false,"badgeUrls":{"small":"https://api-assets.clashofclans.com/badges/70/T_D6WK-jnwhaeZ9wfEdwNt_WqLKE15Q0JePMxWCAO1k.png","large":"https://api-assets.clashofclans.com/badges/512/T_D6WK-jnwhaeZ9wfEdwNt_WqLKE15Q0JePMxWCAO1k.png","medium":"https://api-assets.clashofclans.com/badges/200/T_D6WK-jnwhaeZ9wfEdwNt_WqLKE15Q0JePMxWCAO1k.png"},"clanLevel":2,"clanPoints":1461,"clanBuilderBasePoints":1200,"clanVersusPoints":1200,"clanCapitalPoints":0,"capitalLeague":{"id":85000000,"name":"Unranked"},"requiredTrophies":0,"warFrequency":"unknown","warWinStreak":0,"warWins":4,"warTies":1,"warLosses":2,"isWarLogPublic":true,"warLeague":{"id":48000000,"name":"Unranked"},"members":2,"labels":[{"id":56000007,"name":"International","iconUrls":{"small":"https://api-assets.clashofclans.com/labels/64/zyaTKuJXrsPiU3DvjgdqaSA6B1qvcQ0cjD6ktRah4xs.png","medium":"https://api-assets.clashofclans.com/labels/128/zyaTKuJXrsPiU3DvjgdqaSA6B1qvcQ0cjD6ktRah4xs.png"}},{"id":56000008,"name":"Farming","iconUrls":{"small":"https://api-assets.clashofclans.com/labels/64/iLWz6AiaIHg_DqfG6s9vAxUJKb-RsPbSYl_S0ii9GAM.png","medium":"https://api-assets.clashofclans.com/labels/128/iLWz6AiaIHg_DqfG6s9vAxUJKb-RsPbSYl_S0ii9GAM.png"}},{"id":56000012,"name":"Underdog","iconUrls":{"small":"https://api-assets.clashofclans.com/labels/64/ImSgCg88EEl80mwzFZMIiJTqa33bJmJPcl4v2eT6O04.png","medium":"https://api-assets.clashofclans.com/labels/128/ImSgCg88EEl80mwzFZMIiJTqa33bJmJPcl4v2eT6O04.png"}}],"requiredBuilderBaseTrophies":0,"requiredVersusTrophies":0,"requiredTownhallLevel":8,"chatLanguage":{"id":75000000,"name":"English","languageCode":"EN"}}],"paging":{"cursors":{}}}'
  recorded_at: Sat, 16 Sep 2023 22:04:09 GMT
recorded_with: VCR 6.2.0
