---
http_interactions:
- request:
    method: get
    uri: https://api.clashofclans.com/v1/leagues/aninvalidvalue
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"reason":"badRequest","message":"Invalid format for parameter leagueId,
        number expected"}'
  recorded_at: Wed, 06 Mar 2024 11:12:06 GMT
- request:
    method: get
    uri: https://api.clashofclans.com/v1/leagues/29000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":29000000,"name":"Unranked","iconUrls":{"small":"https://api-assets.clashofclans.com/leagues/72/e--YMyIexEQQhE4imLoJcwhYn6Uy8KqlgyY3_kFV6t4.png","tiny":"https://api-assets.clashofclans.com/leagues/36/e--YMyIexEQQhE4imLoJcwhYn6Uy8KqlgyY3_kFV6t4.png"}}'
  recorded_at: Wed, 06 Mar 2024 11:12:43 GMT
recorded_with: VCR 6.2.0
