---
http_interactions:
- request:
    method: get
    uri: https://api.clashofclans.com/v1/leagues/aninvalidvalue/seasons/anotherinvalidvalue?limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"reason":"badRequest","message":"Invalid format for parameter leagueId,
        number expected"}'
  recorded_at: Sun, 06 Apr 2025 14:24:19 GMT
- request:
    method: get
    uri: https://api.clashofclans.com/v1/leagues/29000022/seasons/2025-03?limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"tag":"#2LRQPQVJG","name":"STAR✨A S R A","expLevel":286,"trophies":6284,"attackWins":311,"defenseWins":7,"rank":1,"clan":{"tag":"#9CCQRRQL","name":"Cup
        Up Baby!!!","badgeUrls":{"small":"https://api-assets.clashofclans.com/badges/70/t433DCjl9kaot9fx5ECDS7vxG8CgGyluBHDYoFAhEgI.png","large":"https://api-assets.clashofclans.com/badges/512/t433DCjl9kaot9fx5ECDS7vxG8CgGyluBHDYoFAhEgI.png","medium":"https://api-assets.clashofclans.com/badges/200/t433DCjl9kaot9fx5ECDS7vxG8CgGyluBHDYoFAhEgI.png"}}},{"tag":"#8LPP88CUU","name":"LILY⚡K#U$H™","expLevel":253,"trophies":6259,"attackWins":278,"defenseWins":0,"rank":2,"clan":{"tag":"#YQU82UQR","name":"Persian
        Kids","badgeUrls":{"small":"https://api-assets.clashofclans.com/badges/70/8LfZpl7uS3zl6RUUMKh8KrqQbVPEooLro5WuqVU8HJA.png","large":"https://api-assets.clashofclans.com/badges/512/8LfZpl7uS3zl6RUUMKh8KrqQbVPEooLro5WuqVU8HJA.png","medium"[...]
