---
http_interactions:
- request:
    method: get
    uri: https://api.clashofclans.com/v1/locations/aninvalidvalue/rankings/clans-builder-base
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"reason":"badRequest","message":"Invalid format for parameter locationId,
        number expected"}'
  recorded_at: Sun, 06 Apr 2025 01:08:12 GMT
- request:
    method: get
    uri: https://api.clashofclans.com/v1/locations/32000094/rankings/clans-builder-base
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"tag":"#2P9PCQYPU","name":"GermanyElite","location":{"id":32000094,"name":"Germany","isCountry":true,"countryCode":"DE"},"badgeUrls":{"small":"https://api-assets.clashofclans.com/badges/70/Mno3c01o8qyFQ24zC22ybH0c8BCx-6EPyM_F5um5-Do.png","large":"https://api-assets.clashofclans.com/badges/512/Mno3c01o8qyFQ24zC22ybH0c8BCx-6EPyM_F5um5-Do.png","medium":"https://api-assets.clashofclans.com/badges/200/Mno3c01o8qyFQ24zC22ybH0c8BCx-6EPyM_F5um5-Do.png"},"clanLevel":24,"members":48,"rank":1,"previousRank":1,"clanBuilderBasePoints":50487},{"tag":"#VG9JCJV8","name":"Sofaplex","location":{"id":32000094,"name":"Germany","isCountry":true,"countryCode":"DE"},"badgeUrls":{"small":"https://api-assets.clashofclans.com/badges/70/RskGK3MoeoyoeWeWlNBb0WKnNa97xry9VLVdgV1XHYs.png","large":"https://api-assets.clashofclans.com/badges/512/RskGK3MoeoyoeWeWlNBb0WKnNa97xry9VLVdgV1XHYs.png","medium":"https://api-assets.clashofclans.com/badges/200/RskGK3MoeoyoeWeWlNBb0WKnNa97xry9VLVdgV1XHYs.png"},"clanLevel":22,"members":46,"rank":2,"previousR[...]
