---
http_interactions:
- request:
    method: get
    uri: https://api.clashofclans.com/v1/locations/aninvalidvalue/rankings/players
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"reason":"badRequest","message":"Invalid format for parameter locationId,
        number expected"}'
  recorded_at: Sun, 06 Apr 2025 01:08:10 GMT
- request:
    method: get
    uri: https://api.clashofclans.com/v1/locations/32000094/rankings/players
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"items\":[{\"tag\":\"#80PUJGGY\",\"name\":\"乃巳几几丫\",\"expLevel\":238,\"trophies\":5653,\"attackWins\":47,\"defenseWins\":1,\"rank\":1,\"previousRank\":230,\"clan\":{\"tag\":\"#2YJCU2V0Q\",\"name\":\"Hohenloher
        2nd\",\"badgeUrls\":{\"small\":\"https://api-assets.clashofclans.com/badges/70/785cxXU5e-ulxWoqSLeUEynsbsNm0dFTSlTNGinvFYs.png\",\"large\":\"https://api-assets.clashofclans.com/badges/512/785cxXU5e-ulxWoqSLeUEynsbsNm0dFTSlTNGinvFYs.png\",\"medium\":\"https://api-assets.clashofclans.com/badges/200/785cxXU5e-ulxWoqSLeUEynsbsNm0dFTSlTNGinvFYs.png\"}},\"league\":{\"id\":29000022,\"name\":\"Legend
        League\",\"iconUrls\":{\"small\":\"https://api-assets.clashofclans.com/leagues/72/R2zmhyqQ0_lKcDR5EyghXCxgyC9mm_mVMIjAbmGoZtw.png\",\"tiny\":\"https://api-assets.clashofclans.com/leagues/36/R2zmhyqQ0_lKcDR5EyghXCxgyC9mm_mVMIjAbmGoZtw.png\",\"medium\":\"https://api-assets.clashofclans.com/leagues/288/R2zmhyqQ0_lKcDR5EyghXCxgyC9mm_mVMIjAbmGoZtw.png\"}}},{\"tag\":\"#PRYRQ2PLR\",\"name\":\"TWF
        Jonas\",\"expLevel\":251,\"trophies\":5622,\"attackWins\":47,\"defenseWins\":2,\"rank\":2,\"previousRank\":24,\"clan\":{\"tag\":\"#2QUCL09GG\",\"name\":\"Back
        to Roots\",\"badgeUrls\":{\"small\":\"https://api-assets.clashofclans.com[...]
