---
http_interactions:
- request:
    method: get
    uri: https://api.clashofclans.com/v1/locations/aninvalidvalue/rankings/players-builder-base
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"reason":"badRequest","message":"Invalid format for parameter locationId,
        number expected"}'
  recorded_at: Sun, 06 Apr 2025 01:08:11 GMT
- request:
    method: get
    uri: https://api.clashofclans.com/v1/locations/32000094/rankings/players-builder-base
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"tag":"#RVCG89RG","name":"King 44","expLevel":233,"rank":1,"previousRank":1,"builderBaseTrophies":5693,"clan":{"tag":"#CQCP8QP2","name":"DiRtY
        SoUtH","badgeUrls":{"small":"https://api-assets.clashofclans.com/badges/70/RaxtPHkfA0yX_7aRYDvXW7eVU9argrCQ2mKJrKLmlWw.png","large":"https://api-assets.clashofclans.com/badges/512/RaxtPHkfA0yX_7aRYDvXW7eVU9argrCQ2mKJrKLmlWw.png","medium":"https://api-assets.clashofclans.com/badges/200/RaxtPHkfA0yX_7aRYDvXW7eVU9argrCQ2mKJrKLmlWw.png"}},"builderBaseLeague":{"id":44000038,"name":"Ruby
        League III"}},{"tag":"#20PUCPJL0","name":"Flo44","expLevel":234,"rank":2,"previousRank":2,"builderBaseTrophies":5596,"clan":{"tag":"#2QQL98V2U","name":"steife_Hörnchen","badgeUrls":{"small":"https://api-assets.clashofclans.com/badges/70/jA0A1-BAutiOTM9fWQbKkXZMCteT8NswDo_QW1TSnIk.png","large":"https://api-assets.clashofclans.com/badges/512/jA0A1-BAutiOTM9fWQbKkXZMCteT8NswDo_QW1TSnIk.png","medium":"https://api-assets.clashofclans.com/badges/200/jA0A1-BAutiOTM9fWQbKkX[...]
