---
http_interactions:
- request:
    method: get
    uri: https://api.clashofclans.com/v1/locations/aninvalidvalue/rankings/capitals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"reason":"badRequest","message":"Invalid format for parameter locationId,
        number expected"}'
  recorded_at: Sun, 06 Apr 2025 01:08:13 GMT
- request:
    method: get
    uri: https://api.clashofclans.com/v1/locations/32000094/rankings/capitals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"tag":"#2PQGRPG0V","name":"\"Sleep faster\"","location":{"id":32000094,"name":"Germany","isCountry":true,"countryCode":"DE"},"badgeUrls":{"small":"https://api-assets.clashofclans.com/badges/70/1phfEJjE_xq0RV842scujV8ZB85vVkGnAvHAhDMGoIk.png","large":"https://api-assets.clashofclans.com/badges/512/1phfEJjE_xq0RV842scujV8ZB85vVkGnAvHAhDMGoIk.png","medium":"https://api-assets.clashofclans.com/badges/200/1phfEJjE_xq0RV842scujV8ZB85vVkGnAvHAhDMGoIk.png"},"clanLevel":24,"members":39,"rank":1,"previousRank":-1,"clanCapitalPoints":6249},{"tag":"#2G2L09YJ9","name":"Clashi
        Army","location":{"id":32000094,"name":"Germany","isCountry":true,"countryCode":"DE"},"badgeUrls":{"small":"https://api-assets.clashofclans.com/badges/70/DIPhphO6NRHSZnu2K_YIN5Bs2aG9761K8bx3LKuyMCs.png","large":"https://api-assets.clashofclans.com/badges/512/DIPhphO6NRHSZnu2K_YIN5Bs2aG9761K8bx3LKuyMCs.png","medium":"https://api-assets.clashofclans.com/badges/200/DIPhphO6NRHSZnu2K_YIN5Bs2aG9761K8bx3LKuyMCs.png"},"clanLevel":15,"members":45,"rank":2[...]
