---
http_interactions:
- request:
    method: get
    uri: https://api.clashofclans.com/v1/locations/aninvalidvalue/rankings/clans
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"reason":"badRequest","message":"Invalid format for parameter locationId,
        number expected"}'
  recorded_at: Sun, 06 Apr 2025 01:08:09 GMT
- request:
    method: get
    uri: https://api.clashofclans.com/v1/locations/32000094/rankings/clans
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"tag":"#2Y8LYGC2","name":"Altenstube","location":{"id":32000094,"name":"Germany","isCountry":true,"countryCode":"DE"},"badgeUrls":{"small":"https://api-assets.clashofclans.com/badges/70/Vv871ha0nErsBUDqy18dGKLL-VFFL3PmMGWoGumA_aQ.png","large":"https://api-assets.clashofclans.com/badges/512/Vv871ha0nErsBUDqy18dGKLL-VFFL3PmMGWoGumA_aQ.png","medium":"https://api-assets.clashofclans.com/badges/200/Vv871ha0nErsBUDqy18dGKLL-VFFL3PmMGWoGumA_aQ.png"},"clanLevel":34,"members":50,"clanPoints":52583,"rank":1,"previousRank":1},{"tag":"#2G8L2V9U9","name":"LuziPBW","location":{"id":32000094,"name":"Germany","isCountry":true,"countryCode":"DE"},"badgeUrls":{"small":"https://api-assets.clashofclans.com/badges/70/utkEvC5eM9g-obV8qHWDTB_2kwn16WnIJ7LaHs1CA0o.png","large":"https://api-assets.clashofclans.com/badges/512/utkEvC5eM9g-obV8qHWDTB_2kwn16WnIJ7LaHs1CA0o.png","medium":"https://api-assets.clashofclans.com/badges/200/utkEvC5eM9g-obV8qHWDTB_2kwn16WnIJ7LaHs1CA0o.png"},"clanLevel":24,"members":42,"clanPoints":52558,"ran[...]
