---
http_interactions:
- request:
    method: get
    uri: https://api.clashofclans.com/v1/locations/aninvalidvalue
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"reason":"badRequest","message":"Invalid format for parameter locationId,
        number expected"}'
  recorded_at: Sat, 23 Dec 2023 22:06:59 GMT
- request:
    method: get
    uri: https://api.clashofclans.com/v1/locations/32000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":32000000,"name":"Europe","isCountry":false}'
  recorded_at: Sat, 23 Dec 2023 22:06:59 GMT
recorded_with: VCR 6.2.0
