---
http_interactions:
- request:
    method: get
    uri: https://api.clashofclans.com/v1/players/aninvalidvalue
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"reason":"notFound","message":"Not found with tag aninvalidvalue"}'
  recorded_at: Sat, 16 Sep 2023 22:03:52 GMT
- request:
    method: get
    uri: https://api.clashofclans.com/v1/players/%23QG8VUCRUQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"tag":"#QG8VUCRUQ","name":"ClashOfClansApi","townHallLevel":11,"expLevel":109,"trophies":2072,"bestTrophies":2345,"warStars":71,"attackWins":10,"defenseWins":1,"builderHallLevel":5,"builderBaseTrophies":490,"versusTrophies":490,"bestBuilderBaseTrophies":490,"bestVersusTrophies":490,"versusBattleWins":0,"role":"admin","warPreference":"out","donations":85,"donationsReceived":672,"clanCapitalContributions":704769,"clan":{"tag":"#8L89PJPP","name":"Psycho","clanLevel":18,"badgeUrls":{"small":"https://api-assets.clashofclans.com/badges/70/71LDGO910vPQRJNFMQ5gp5WYI0seMAUZVxQ7It-xgXk.png","large":"https://api-assets.clashofclans.com/badges/512/71LDGO910vPQRJNFMQ5gp5WYI0seMAUZVxQ7It-xgXk.png","medium":"https://api-assets.clashofclans.com/badges/200/71LDGO910vPQRJNFMQ5gp5WYI0seMAUZVxQ7It-xgXk.png"}},"league":{"id":29000010,"name":"Crystal
        League III","iconUrls":{"small":"https://api-assets.clashofclans.com/leagues/72/Hyqco7bHh0Q81xB8mSF_ZhjKnKcTmJ9QEq9QGlsxiKE.png","tiny":"https://api-assets.clashofclans.com/leagues/36/Hyqco7bHh0Q81xB8mSF_ZhjKnKcTmJ9QEq9QGlsxiKE.png","medium":"https://api-assets.clashofclans.com/leagues/288/Hyqco7bHh0Q81xB8mSF_ZhjKnKcTmJ9QEq9QGlsxiKE.png"}},"builderBaseLeague":{"id":44000004,"name":"Wood
        League I"},"achievements":[{"name":"Bigger Coffers","stars":3,"value":12,"target":10,"info":"Upgrade
        a Gold Storage to level 10","completionInfo":"Highest Gold Storage level:
        12","village":"home"},{"name":"Get even more Goblins!","stars":1,"value":22,"target":255,"info":"Win
        255 Stars on the Campaign Map","completionInfo":"Stars in Campaign Map: 22","village":"home"},{"name":"Bigger
        & Better","stars":3,"value":11,"target":8,"info":"Upgrade Town Hall to level
        8","completionInfo":"Current Town Hall level: 11","village":"home"},{"name":"Nice
        and Tidy","stars":3,"value":2432,"target":500,"info":"Remove 500 obstacles
        (trees, rocks, bushes)","comp[...]
