---
http_interactions:
- request:
    method: get
    uri: https://api.clashofclans.com/v1/players/aninvalidvalue
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"reason":"notFound","message":"Not found with tag aninvalidvalue"}'
  recorded_at: Sun, 06 Apr 2025 01:08:01 GMT
- request:
    method: get
    uri: https://api.clashofclans.com/v1/players/%23QG8VUCRUQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"tag":"#QG8VUCRUQ","name":"ClashOfClansApi","townHallLevel":13,"townHallWeaponLevel":5,"expLevel":139,"trophies":2763,"bestTrophies":3451,"warStars":591,"attackWins":0,"defenseWins":0,"builderHallLevel":6,"builderBaseTrophies":490,"bestBuilderBaseTrophies":490,"role":"coLeader","warPreference":"in","donations":0,"donationsReceived":47,"clanCapitalContributions":1561572,"clan":{"tag":"#2YJY0VU2V","name":"Felix
        War","clanLevel":22,"badgeUrls":{"small":"https://api-assets.clashofclans.com/badges/70/OMhztoVK2HXxsq__hA7ypb6ynYwy6aNgflAw-fHQpxg.png","large":"https://api-assets.clashofclans.com/badges/512/OMhztoVK2HXxsq__hA7ypb6ynYwy6aNgflAw-fHQpxg.png","medium":"https://api-assets.clashofclans.com/badges/200/OMhztoVK2HXxsq__hA7ypb6ynYwy6aNgflAw-fHQpxg.png"}},"builderBaseLeague":{"id":44000004,"name":"Wood
        League I"},"achievements":[{"name":"Bigger Coffers","stars":3,"value":14,"target":10,"info":"Upgrade
        a Gold Storage to level 10","completionInfo":"Highest Gold Storage level:
        14","village":"home"},{"name":"Get even more Goblins!","stars":1,"value":22,"target":255,"info":"Win
        255 Stars on the Campaign Map","completionInfo":"Stars in Campaign Map: 22","village":"home"},{"name":"Bigger
        & Better","stars":3,"value":13,"target":8,"info":"Upgrade Town Hall to level
        8","completionInfo":"Current Town Hall level: 13","village":"home"},{"name":"Nice
        and Tidy","stars":3,"value":3905,"target":500,"info":"Remove 500 obstacles
        (trees, rocks, bushes)","comp[...]
