---
http_interactions:
- request:
    method: get
    uri: https://api.clashofclans.com/v1/players/aninvalidvalue
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"reason":"notFound","message":"Not found with tag aninvalidvalue"}'
  recorded_at: Wed, 06 Mar 2024 11:11:34 GMT
- request:
    method: get
    uri: https://api.clashofclans.com/v1/players/%23QG8VUCRUQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"tag":"#QG8VUCRUQ","name":"ClashOfClansApi","townHallLevel":12,"townHallWeaponLevel":2,"expLevel":118,"trophies":2788,"bestTrophies":2982,"warStars":171,"attackWins":4,"defenseWins":0,"builderHallLevel":5,"builderBaseTrophies":490,"bestBuilderBaseTrophies":490,"role":"admin","warPreference":"out","donations":0,"donationsReceived":351,"clanCapitalContributions":922697,"clan":{"tag":"#2YJY0VU2V","name":"Felix
        War","clanLevel":17,"badgeUrls":{"small":"https://api-assets.clashofclans.com/badges/70/a75gMH0xFcq902gwIjRXNYYDQBN1LD-9Xe2EN5Tjzlc.png","large":"https://api-assets.clashofclans.com/badges/512/a75gMH0xFcq902gwIjRXNYYDQBN1LD-9Xe2EN5Tjzlc.png","medium":"https://api-assets.clashofclans.com/badges/200/a75gMH0xFcq902gwIjRXNYYDQBN1LD-9Xe2EN5Tjzlc.png"}},"league":{"id":29000014,"name":"Master
        League II","iconUrls":{"small":"https://api-assets.clashofclans.com/leagues/72/4wtS1stWZQ-1VJ5HaCuDPfdhTWjeZs_jPar_YPzK6Lg.png","tiny":"https://api-assets.clashofclans.com/leagues/36/4wtS1stWZQ-1VJ5HaCuDPfdhTWjeZs_jPar_YPzK6Lg.png","medium":"https://api-assets.clashofclans.com/leagues/288/4wtS1stWZQ-1VJ5HaCuDPfdhTWjeZs_jPar_YPzK6Lg.png"}},"builderBaseLeague":{"id":44000004,"name":"Wood
        League I"},"achievements":[{"name":"Bigger Coffers","stars":3,"value":12,"target":10,"info":"Upgrade
        a Gold Storage to level 10","completionInfo":"Highest Gold Storage level:
        12","village":"home"},{"name":"Get even more Goblins!","stars":1,"value":22,"target":255,"info":"Win
        255 Stars on the Campaign Map","completionInfo":"Stars in Campaign Map: 22","village":"home"},{"name":"Bigger
        & Better","stars":3,"value":12,"target":8,"info":"Upgrade Town Hall to level
        8","completionInfo":"Current Town Hall level: 12","village":"home"},{"name":"Nice
        and Tidy","stars":3,"value":3093,"target":500,"info":"Remove 500 obstacles
        (trees, rocks, bushes)","comp[...]
