---
http_interactions:
- request:
    method: post
    uri: https://api.clashofclans.com/v1/players/aninvalidvalue/verifytoken
    body:
      encoding: UTF-8
      string: '{"token":"faketoken"}'
    headers:
      Authorization:
      - Bearer <TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"reason":"notFound","message":"Not found with tag aninvalidvalue"}'
  recorded_at: Sat, 16 Sep 2023 22:04:10 GMT
- request:
    method: post
    uri: https://api.clashofclans.com/v1/players/%23QG8VUCRUQ/verifytoken
    body:
      encoding: UTF-8
      string: '{"token":"faketoken"}'
    headers:
      Authorization:
      - Bearer <TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"tag":"#QG8VUCRUQ","token":"faketoken","status":"invalid"}'
  recorded_at: Sat, 16 Sep 2023 22:04:10 GMT
recorded_with: VCR 6.2.0
