---
http_interactions:
- request:
    method: get
    uri: https://api.clashofclans.com/v1/players/aninvalidvalue
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"reason":"notFound","message":"Not found with tag aninvalidvalue"}'
  recorded_at: Sat, 23 Dec 2023 22:06:15 GMT
- request:
    method: get
    uri: https://api.clashofclans.com/v1/players/%23QG8VUCRUQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"tag":"#QG8VUCRUQ","name":"ClashOfClansApi","townHallLevel":11,"expLevel":116,"trophies":2589,"bestTrophies":2654,"warStars":71,"attackWins":29,"defenseWins":4,"builderHallLevel":5,"builderBaseTrophies":490,"bestBuilderBaseTrophies":490,"role":"admin","warPreference":"out","donations":0,"donationsReceived":134,"clanCapitalContributions":782017,"clan":{"tag":"#2YVPV0V0L","name":"EliteTigers
        DCM","clanLevel":6,"badgeUrls":{"small":"https://api-assets.clashofclans.com/badges/70/SDIEqKyT69modtVd2R63-HRt1ujWp2w_cKEjFRy7Eyg.png","large":"https://api-assets.clashofclans.com/badges/512/SDIEqKyT69modtVd2R63-HRt1ujWp2w_cKEjFRy7Eyg.png","medium":"https://api-assets.clashofclans.com/badges/200/SDIEqKyT69modtVd2R63-HRt1ujWp2w_cKEjFRy7Eyg.png"}},"league":{"id":29000013,"name":"Master
        League III","iconUrls":{"small":"https://api-assets.clashofclans.com/leagues/72/pSXfKvBKSgtvfOY3xKkgFaRQi0WcE28s3X35ywbIluY.png","tiny":"https://api-assets.clashofclans.com/leagues/36/pSXfKvBKSgtvfOY3xKkgFaRQi0WcE28s3X35ywbIluY.png","medium":"https://api-assets.clashofclans.com/leagues/288/pSXfKvBKSgtvfOY3xKkgFaRQi0WcE28s3X35ywbIluY.png"}},"builderBaseLeague":{"id":44000004,"name":"Wood
        League I"},"achievements":[{"name":"Bigger Coffers","stars":3,"value":12,"target":10,"info":"Upgrade
        a Gold Storage to level 10","completionInfo":"Highest Gold Storage level:
        12","village":"home"},{"name":"Get even more Goblins!","stars":1,"value":22,"target":255,"info":"Win
        255 Stars on the Campaign Map","completionInfo":"Stars in Campaign Map: 22","village":"home"},{"name":"Bigger
        & Better","stars":3,"value":11,"target":8,"info":"Upgrade Town Hall to level
        8","completionInfo":"Current Town Hall level: 11","village":"home"},{"name":"Nice
        and Tidy","stars":3,"value":2830,"target":500,"info":"Remove 500 obstacles
        (trees, rocks, bushes)","comp[...]
