---
http_interactions:
- request:
    method: get
    uri: https://api.clashofclans.com/v1/warleagues/aninvalidvalue
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"reason":"badRequest","message":"Invalid format for parameter leagueId,
        number expected"}'
  recorded_at: Sun, 06 Apr 2025 01:08:08 GMT
- request:
    method: get
    uri: https://api.clashofclans.com/v1/warleagues/48000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":48000000,"name":"Unranked"}'
  recorded_at: Sun, 06 Apr 2025 01:08:08 GMT
recorded_with: VCR 6.3.1
